
.headerContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
    color: white;

}

.headerContainer .headerBtnArea {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 1000000;
    border-bottom: white 1px solid;
    box-shadow: white 0px 4px 10px;

}

.logo{
    width: 200px;
    background-color: black;
    height: inherit;
    text-align: center;
    line-height: 80px;
    font-weight: bold;
    background-image: url("../../img/hb HY LOGO1123.png");
    background-size: 76px;
    background-repeat: no-repeat;
    background-position: center;

}

.loginAndCart{
    width: 200px;
    display: flex;
    justify-content: space-evenly;

}

.pageHeading{
    width: 85vw;
    height: 300px;
    margin: auto ;
    padding-top: 100px;
}
.pageHeading .nav{
    margin-top: 20px;
    text-align: left;
}

.pageHeading .heading{
    text-align: center;
    font-size: 2rem;
}

.sortAndFilter{
    width: 85%;
    margin:0 auto 20px;
}

.login{
    transition: 0.3s all linear;
    height: 80px;
    width:100px;
    line-height: 80px;
    text-align: center;

}
.login:hover{
    background-color: white;
    color: black;
}

.cart{
    position: relative;
    transition: 0.3s all linear;
    height: 80px;
    width:100px;
    line-height: 80px;
    text-align: center;

}
.cart:hover{
    background-color: white;
    color: black;
}

.cart .cartTag{
    position: absolute;
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 50%;
    background-color: orangered;
    color: white;
    text-align: center;
    right: 10px;
    top: 30px;

}